@font-face {
    font-family: rationaltwdisplaydemo-light;
    src: url("fonts/rationaltwdisplaydemo-light.otf") format("opentype");
}

@font-face {
    font-family: rationaltwdisplaydemo-semibold;
    src: url("fonts/rationaltwdisplaydemo-semibold.otf") format("opentype");
}

#splashScreen {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 85vh;
    width: 100%;
    color: white;
    text-align: center;
}

.splash-message {
	padding-top: 100px;
}

.company-name {
	font-family: 'rationaltwdisplaydemo-light', serif;
}