{% extends "layout.html" %}
{% block styles %}
			<link rel="stylesheet" type="text/css" href={{ url_for('static', filename='css/courses.css') }}>
{% endblock styles %}
{% block content %}
	<div class="container">
    	<div class="col-md mx-auto content">
			<div class="row">
				<div class="display-4">Courses offered</div>
			</div>
			<div class="row row-height">
				<table class="course-table">
					<tr>
						<th>&nbsp;&nbsp;&nbsp;Course</th><th>Duration</th>
					</tr>
					<tr>
						<td class="course-name">
							<a class="nav-link" href={{ url_for('static', filename='data/courses/Project_Oriented.pdf') }}>
								Project oriented training
							</a>
						</td>
						<td>
							10 days
						</td>
					</tr>
					<tr>
						<td class="course-name">
							<a class="nav-link" href={{ url_for('static', filename='data/courses/Web.pdf') }}>
								Web concepts
							</a>
						</td>
						<td>
							2 days
						</td>
					</tr>
					<tr>
						<td class="course-name">
							<a class="nav-link" href={{ url_for('static', filename='data/courses/SQL.pdf') }}>
								Structured Query Language (SQL)
							</a>
						</td>
						<td>
							2 days
						</td>
					</tr>
					<tr>
						<td class="course-name">
							<a class="nav-link" href={{ url_for('static', filename='data/courses/Client_side.pdf') }}>
								Client-side programming
							</a>
						</td>
						<td>
							2 days
						</td>
					</tr>
					<tr>
						<td class="course-name">
							<a class="nav-link" href={{ url_for('static', filename='data/courses/Python.pdf') }}>
								Programming languages - Python
							</a>
						</td>
						<td>
							2 days
						</td>
					</tr>
					<tr>
						<td class="course-name">
							<a class="nav-link" href={{ url_for('static', filename='data/courses/Flask.pdf') }}>
								Web frameworks - Flask
							</a>
						</td>
						<td>
							2 days
						</td>
					</tr>
					<tr>
						<td class="course-name">
							<a class="nav-link" href={{ url_for('static', filename='data/courses/Agile.pdf') }}>
								Software Development Life Cycle (SDLC) using AGILE Model
							</a>
						</td>
						<td>
							2 days
						</td>
					</tr>
				</table>
			</div>
		</div>
	</div>
{% endblock content %}