<!doctype html>
<html lang="en">
<head>
      <!-- Required meta tags -->
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      
      <!-- Bootstrap CSS -->
      <link rel="shortcut icon" href={{ url_for('static', filename='images/hoder-logo/hoder-logo.png') }}>
      <link rel="stylesheet" type="text/css" href={{ url_for('static', filename='css/bootstrap.min.css') }}>
      <link rel="stylesheet" type="text/css" href={{ url_for('static', filename='css/layout.css') }}>
      <!-- Individual html CSS -->
      {% block styles %}{% endblock styles %}
      <!-- Optional JavaScript -->
      <!-- jQuery first, then Popper.js, then Bootstrap JS -->
      <script src={{ url_for('static', filename='js/vendor/jquery-slim.min.js') }}></script>
      <script src={{ url_for('static', filename='js/vendor/popper.min.js') }}></script>
      <script src={{ url_for('static', filename='js/bootstrap.min.js') }}></script>
      <title id="companyNameTitle">h o d e r . i n</title>         
      <!-- Individual html CSS -->
      {% block scripts %}{% endblock scripts %}
</head>
<body class="text-center">
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container">
                        <a class="navbar-brand" href="/"><img src={{ url_for('static', filename='images/hoder-logo/hoder-logo.png') }} class="logo" alt="h o d e r . i n"/>
                        <span id="companyName" class="text-primary"><span class="square-success">hoder.in</span></span>
                  </a>
                  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsOptions" aria-controls="navbarsOptions" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                  </button>
                  <div class="collapse navbar-collapse" id="navbarsOptions">
                        <ul class="navbar-nav mr-auto">
                              <li class="nav-item active">
                                    <a class="nav-item nav-link" href="{{ url_for('index') }}">
                                          <span class="icon-text">Home <span class="sr-only">(current)</span></span>
                                    </a>
                              </li>
                              <li class="nav-item">
                                    <a class="nav-item nav-link" href="{{ url_for('careers') }}">
                                          <span class="icon-text">Careers</span>
                                    </a>
                              </li>
                              <li class="nav-item">
                                    <a class="nav-item nav-link" href="{{ url_for('about') }}">
                                          <span class="icon-text">About Us</span>
                                    </a>
                              </li>
                              <li class="nav-item">
                                    <a class="nav-item nav-link" href="{{ url_for('contact') }}">
                                          <span class="icon-text">Contact Us</span>
                                    </a>
                              </li>
                        </ul>           
                  </div>
            </div>
      </nav>
      <main>
            {% block content %}{% endblock content %}
      </main>
      <footer class="footer fixed-bottom">
            <div class="container">
                  <h6 class="text-muted">Copyright © 2019 hoder.in</h6>
            </div>
      </footer>
</body>
</html>